@use "../../variables.scss" as global;

  .main {
    margin-top: global.$section-margin-top;
  }
  .education-main-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }

  .education-main-div > * {
    flex: 1;
  }

  .education-image-div > img {
    max-width: 320px;
    width: 100%;
    height: auto;

    display: block;
    margin: 0 auto;
  }

  .education-heading {
    font-weight: 400;
    text-align: center;
    @include global.heading-fonts();
  }

  .education-section {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .education-section > * {
    flex: 1;
  }

  .education-card-container {
    display: flex;
    flex-direction: column;
  }

  @media (min-width: 768px) {
    .education-main-div {
      flex-direction: row-reverse;
      height: 100%;

      display: flex;
      align-items: center;
      justify-content: center;
    }

    .education-heading {
      text-align: left;
    }
  }
