$section-margin-top: 16px;

$heading-size: 2rem;
$subheading-size: 1.75rem;
$paragraph-size: 1.125rem;
$line-height: 1.5;

$heading-size-md: 2.5rem;
$subheading-size-md: 2rem;
$paragraph-size-md: 1.25rem;
$line-height-md: 1.5;

$heading-size-lg: 3rem;
$subheading-size-lg: 2.25rem;
$paragraph-size-lg: 1.375rem;
$line-height-lg: 1.66;