---
import Layout from '../layouts/Layout.astro';
import WorkExperience from '../components/WorkExperience.astro';
import Education from '../components/Education.astro';
import Skills from '../components/Skills.astro';
import Greeting from '../components/Greeting.astro';
import Achievement from '../components/Achievement.astro';
---

<Layout title="Carlos Martos Portfolio">
  <div id="skip">
    <a href="#greeting">Skip to Main Content</a>
  </div>
  <main>
    <Greeting />
    <Skills />
    <Education />
    <WorkExperience />
    <Achievement />
  </main>
</Layout>

<style>
  /* Recommended here: https://webaim.org/techniques/css/invisiblecontent/ */
  #skip a {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
  }
  #skip a:focus {
    position: static;
    width: auto;
    height: auto;
  }

  main {
    margin: auto;
    padding: 1rem;
    width: 960px;
    max-width: calc(100% - 2rem);
    color: var(--primary-text);
    font-size: 1.25rem;
    line-height: 1.6;
  }

  @media (min-width: 768px) {
    main {
    padding: 1rem 2rem;
    max-width: calc(100% - 4rem);
    }
  }
</style>
