  main {
    margin: auto;
    padding: 1rem;
    width: 960px;
    max-width: calc(100% - 2rem);
    font-size: 1.25rem;
  }

  @media (min-width: 768px) {
    main {
      padding: 1rem 2rem;
      max-width: calc(100% - 4rem);
    }
  }
