---
import resume from '../assets/resume/Carlos_Martos_Resume_20240122.pdf';
import sittingOnTableSvg from '../assets/images/undraw_on_the_office_re_cxds.svg';
---

<section class="main greeting-main" id="greeting">
  <div class="greeting-text-div">
    <div>
      <h1>Hi all, I'm <span class="nowrap"><span class="text-gradient">Carlos</span> 👋</span></h1>
      <p class="greeting-text-p subTitle">
        A passionate software developer with experience building web applications with .NET, SQL Server and Angular.
      </p>
      <div class="button-greeting-div">
        <div>
          <a id="resume-download-button" class="main-button" href={resume} rel="noreferrer" target="_blank">
            See my resume
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="greeting-image-div">
    <img alt="Developer sitting on table" src={sittingOnTableSvg.src} />
  </div>
</section>
<style lang="scss">
  /* Variables */
  @use '../styles/variables.scss' as global;
  h1 {
    @include global.heading-fonts();
    font-weight: 700;
    text-align: center;
  }

  .nowrap {
    white-space: nowrap;
  }

  .greeting-main {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .greeting-main > * {
    flex: 1;
  }
  .button-greeting-div {
    display: flex;
    justify-content: space-around;
  }

  .greeting-text-p {
    @include global.paragraph-fonts();
    text-align: center;
  }

  .greeting-image-div > img {
    width: 100%;
    height: auto;
  }

  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }

  .main-button {
    background-color: #55198b;
    border: solid 1px #55198b;
    color: white;
    font-weight: 700;
    width: max-content;
    padding: 13px 22px;
    text-transform: uppercase;
    border-radius: 6px;
    text-align: center;
    text-decoration: none;
    display: block;
    margin-top: 20px;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out 0s;
  }
  .main-button:hover {
    background-color: #ffffff;
    color: #55198b;
    transition: all 0.3s ease 0s;
    transform: translateY(-3px);
  }

  /* Media Query */
  @media (min-width: 768px) {
    .greeting-main {
      flex-direction: row;
    }
    h1 {
      text-align: left;
    }
    .greeting-text-p {
      text-align: left;
    }
    .button-greeting-div {
      justify-content: start;
    }
  }
</style>
