---
import programmingSvg from '../assets/images/undraw_programming_re_kg9v.svg';

const skillsSection = {
  /* Make Sure You include correct Font Awesome class to view your icon
  https://fontawesome.com/icons?d=gallery */

  skills: [
    '⚡ Develop single page applications with Angular and React',
    '⚡ Develop web applications with ASP.NET Core and Angular',
    '⚡ Develop static generated websites with Astro',
    '⚡ Astro deployment with Azure Static Web App',
    '⚡ Relational database design',
    '⚡ Refactor of legacy web apps to modern .NET API solutions with Angular front-end',
    '⚡ Unit testing with xUnit and Jasmine',
    '⚡ Azure DevOps and Github Actions builds and deployments to cloud and on-premise systems',
  ],
} as const;
---

<section class="main" id="skills">
  <div class="skills-main-div">
    <div>
      <div class="skills-image-div">
        <img alt="Developer Working" src={programmingSvg.src} />
      </div>
    </div>
    <div>
      <div class="skills-text-div">
        <h2 class="skills-heading">What I do</h2>
        <p class="skills-text-subtitle">
          With over 7 years of experience as a software developer, I have a strong background in creating applications,
          including desktop applications, background services, and ETLs. Additionally, I excel in the design of
          relational databases. My testing strategy encompasses the use of Cypress for end-to-end testing, complemented
          by Jasmine and xUnit for thorough unit testing.
        </p>
      </div>
    </div>
  </div>
  <div>
    {skillsSection.skills.map((skills) => <p class="skills-text">{skills}</p>)}
  </div>
</section>
<style lang="scss">
  @use '../styles/variables.scss' as global;
  .main {
    margin-top: global.$section-margin-top;
  }
  .skills-main-div {
    display: flex;
    flex-direction: column-reverse;
    gap: 1rem;
    margin-bottom: 25px;
  }

  .skills-main-div > * {
    flex: 1;
  }

  .skills-image-div > img {
    width: 100%;
    height: auto;
  }

  .skills-heading {
    @include global.heading-fonts();
    font-weight: 400;
    text-align: center;
  }

  .skills-text-subtitle {
    @include global.paragraph-fonts();
    text-align: center;
  }

  .skills-text {
    @include global.paragraph-fonts();
  }

  /* Media Query */
  @media (min-width: 768px) {
    .skills-heading,
    .skills-text-subtitle {
      text-align: left;
    }
    .skills-main-div {
      flex-direction: row;
    }
  }
</style>
