---
import programmingSvg from '../assets/images/undraw_programming_re_kg9v.svg';

const skillsSection = {
  title: 'What I do',
  subTitle:
    'I am a software developer with 7+ years of experience in developing web applications, desktop applications, background services, ETLs and designing databases.',

  /* Make Sure You include correct Font Awesome class to view your icon
  https://fontawesome.com/icons?d=gallery */

  skills: [
    '⚡ Develop single page applications with Angular and React',
    '⚡ Develop web applications with ASP.NET Core and Angular',
    '⚡ Develop static generated websites with Astro',
    '⚡ Astro deployment with Azure Static Web App',
    '⚡ Relational database design',
    '⚡ Refactor of legacy web apps to modern .NET API solutions with Angular front-end',
    '⚡ Unit testing with xUnit and Jasmine',
    '⚡ Azure DevOps and Github Actions builds and deployments to cloud and on-premise systems',
  ],
} as const;
---

<div class="main" id="skills">
  <div class="skills-main-div">
    <div>
      <div class="skills-image-div">
        <img alt="Developer Working" src={programmingSvg.src} />
      </div>
    </div>
    <div>
      <div class="skills-text-div">
        <h2 class="skills-heading">{skillsSection.title}</h2>
        <p class="skills-text-subtitle">{skillsSection.subTitle}</p>
      </div>
    </div>
  </div>
  <div>
    {skillsSection.skills.map((skills) => <p class="skills-text">{skills}</p>)}
  </div>
</div>
<style>
  .main {
    margin-top: var(--section-margin-top);
  }
  .skills-main-div {
    display: flex;
    flex-direction: column-reverse;
    gap: 1rem;
    margin-bottom: 25px;
  }

  .skills-main-div > * {
    flex: 1;
  }

  .skills-image-div > img {
    max-width: 100%;
    height: auto;
  }

  .skills-heading {
    font-size: var(--heading-size);
    line-height: var(--line-height);
    font-weight: 400;
    text-align: center;
  }

  .skills-text-subtitle {
    font-size: var(--paragraph-size);
    line-height: var(--line-height);
    text-align: center;
  }

  .skills-text {
    font-size: var(--paragraph-size);
    line-height: var(--line-height);
  }

  /* Media Query */
  @media (min-width: 768px) {
    .skills-heading,
    .skills-text-subtitle {
      text-align: left;
    }
    .skills-main-div {
      flex-direction: row;
    }
  }
</style>
