$section-margin-top: 16px;

$heading-size: 2rem;
$paragraph-size: 1.125rem;
$line-height: 1.5;

$heading-size-md: 2.5rem;
$paragraph-size-md: 1.25rem;
$line-height-md: 1.5;

$heading-size-lg: 3rem;
$paragraph-size-lg: 1.375rem;
$line-height-lg: 1.66;

@mixin heading-fonts() {
  font-size: $heading-size;
  line-height: $line-height;

    @media (min-width: 768px) {
        font-size: $heading-size-md;
        line-height: $line-height-md;
    }

    @media (min-width: 1380px) {
        font-size: $heading-size-lg;
        line-height: $line-height-lg;
    }
}

@mixin paragraph-fonts() {
  font-size: $paragraph-size;
  line-height: $line-height;

    @media (min-width: 768px) {
        font-size: $paragraph-size-md;
        line-height: $line-height-md;
    }

    @media (min-width: 1380px) {
        font-size: $paragraph-size-lg;
        line-height: $line-height-lg;
    }
}
