---
import { type WithContext, type Thing } from 'schema-dts';
interface Props {
  readonly title: string;
  readonly description: string;
  readonly schema: Readonly<WithContext<Thing>>;
}

const { title, schema, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta property="og:title" content="Carlos Martos Portfolio" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://carlosmartos.com" />
    <title>{title}</title>
    <!-- Google tag (gtag.js) -->
    <script is:inline async src="https://www.googletagmanager.com/gtag/js?id=G-F258RKWXHY"></script>
    <script is:inline>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        // eslint-disable-next-line prefer-rest-params
        dataLayer.push(arguments);
      }
      gtag('js', new Date());

      gtag('config', 'G-F258RKWXHY');
    </script>
  </head>
  <body>
    <slot />
    <script is:inline type="application/ld+json" set:html={JSON.stringify(schema)} />
  </body>
</html>
<style is:global>
  :root {
    --accent: 136, 58, 234;
    --accent-light: 224, 204, 250;
    --accent-dark: 49, 10, 101;
    --accent-gradient: linear-gradient(45deg, rgb(var(--accent)), rgb(var(--accent-light)) 30%, white 60%);
    --primary-bg: #fff;
    --primary-text: #13151a;
    --secondary-bg: #13151a;
    --secondary-text: #fff;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --primary-bg: #13151a;
      --primary-text: #fff;
      --secondary-bg: #fff;
      --secondary-text: #13151a;
    }
  }
  html {
    font-family: Seravek, 'Gill Sans Nova', Ubuntu, Calibri, 'DejaVu Sans', source-sans-pro, sans-serif;
    background: var(--primary-bg);
    background-size: 224px;
  }
  body {
    margin: 0;
  }
  body,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0;
  }

  code {
    /* https://github.com/system-fonts/modern-font-stacks#monospace-code */
    font-family: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;
  }
</style>
