name: Continuous Integration Pipeline - www.carlosmartos.com

on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened, closed]
    branches:
      - main

jobs:
    build_and_test:
        runs-on: ubuntu-latest
        if: github.event_name == 'pull_request' && github.event.action != 'closed'
        steps:
          - uses: actions/checkout@v4
            with:
              submodules: true
          - name: Run install
            run: yarn install --frozen-lockfile
          - name: Run ESLint
            run: yarn run lint
          - name: Run build
            run: yarn run build
          - name: Run tests
            run: yarn run test:ci
          - name: Run cypress on Chrome
            run: yarn run cy:test:local
          - name: Run cypress on Firefox
            run: yarn run cy:test:local:firefox
